Repository Thels/architecture-as-code, changes with the labels that .github/labeler.yml gives for each.
All labels: CLI, shared, docs, calm-hub, CALM, config

#937 - WIP
  cli/package.json
  cli/src/index.ts
  package-lock.json
  shared/src/commands/generate/generate.ts
Labels: CLI, shared, config

WIP
  calm-hub-ui/tsconfig.json
  cli/package.json
  cli/tsconfig.json
  package-lock.json
  shared/package.json
  shared/src/template/template-processor.ts
  shared/tsconfig.json
  tsconfig.json
Labels: CLI, shared, config

Test: Update renovate config for better dependency management
  renovate.json
Labels: none

feat(cli): add hidden --ants flag to docify for ant farm visualization
  cli/src/cli.e2e.spec.ts
  cli/src/cli.spec.ts
  cli/src/cli.ts
  shared/scripts/copy-templates.mjs
  shared/src/docify/docifier.ts
  shared/src/docify/template-bundles/ants/index.html
  shared/src/docify/template-bundles/ants/index.json
  shared/src/docify/template-bundles/ants/main.js.hbs
  shared/src/docify/template-bundles/ants/package.json
Labels: CLI, shared, config

chore: hide --ants from docify help and clean up ant farm template
  calm/architecture/calm-2.json
  cli/src/cli.spec.ts
  cli/src/cli.ts
  shared/src/docify/template-bundles/ants/main.js.hbs
Labels: CLI, shared, CALM

chore: removing needless direction from example flow
  calm/architecture/calm-2.json
Labels: CALM

Update MAINTAINERS.md
  MAINTAINERS.md
Labels: none

Update maintainer information for @Thels
  MAINTAINERS.md
Labels: none

.github/labeler.yml:

CLI:
  - "cli/**"
shared:
  - "shared/**"
docs:
  - "docs/**"
calm-hub:
  - "calm-hub/**"
CALM:
  - "calm/**"
config:
  - "pom.xml"
  - "**/package.json"
  - "**/package-lock.json"
